@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Merriweather&family=Montserrat:wght@400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
}

/* ------- Navbar --------- */
.brand-button {
  border: none;
  padding: 0;
}

/* .brand-button:hover {
    opacity: 0.9;
    box-shadow: 1px 0px 1px 1px rgb(204, 204, 204, 0.3);
} */

.brand-button img {
  width: 120px;
  height: 40px;
}

/* .navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
} */

/* .navbar-brand {
    font-family: 'Lora', serif;
    letter-spacing: 0.1em;
} */

.nav-link {
  color: #001f3f;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.nav-link:active {
  color: purple;
}

.nav-link:hover {
  color: purple;
}

.menu {
  color: #001f3f;
  font-size: 2rem;
}

.purple {
  color: purple;
}

/* ------- Carousel --------- */
.carousel-item {
  height: 28rem;
  position: relative;
}

.container {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3.5vw 5vh;
}

.overlay-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(2, 22, 46, 255);
  background-position: center;
  background-image: url('./new-slide.jpg');
  background-repeat: no-repeat;
  background-size: 60% 100%;
}

.header {
  font-family: 'Lora', serif;
  letter-spacing: 0.05em;
  font-size: 2.2em;
}

.caption {
  letter-spacing: 0.02em;
  font-size: 22px;
  font-weight: bold;
  color: #eeeeee;
}

.new-color {
  color: purple;
}

.font-big {
  font-size: 18px;
}

.center-align {
  text-align: center;
}

.link {
  color: #001f3f;
}

.link .icon {
  font-size: 24px;
}

.link:hover {
  color: purple;
  text-decoration: none;
}

.link:hover .icon {
  color: purple;
}

/* ------- Footer --------- */
footer {
  background-color: #001f3f;
  color: white;
  height: 230px;
  font-size: 14px;
  padding: 6vh 10vw;
}

.footer-title {
  font-family: 'Lora', serif;
  letter-spacing: 0.05em;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

/* ------- Home Page --------- */
.content {
  background-color: #efefef;
  color: #001f3f;
  padding: 6vh 10vw;
}

.heading {
  color: purple;
  margin-bottom: 20px;
  font-size: 1.8em;
}

/* ------- Team Page --------- */
/* .team-content {
    background-color: #efefef;
    color: #001f3f;
    padding: 6vh 10vw;
}

.team-heading {
    color: purple;
    margin-bottom: 20px;
    font-size: 1.8em;
} */

.team-type {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: purple;
  margin: 20px 0;
}

.team-member {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.member-container {
  border-bottom: 1px solid purple;
}

.member-container:last-child {
  border-bottom: none;
}

/* ------- Science Page --------- */
.science-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.science-container {
  padding-bottom: 10px;
  border-bottom: 1px solid purple;
}

.science-container:last-child {
  border-bottom: none;
}

.learn-btn {
  background-color: rgb(104, 3, 104);
  color: white;
  margin-bottom: 20px;
}

.learn-btn:hover {
  color: #ffffff;
  opacity: 0.9;
}

.science-image {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 30px;
}

.science-image > img {
  height: 440px;
  width: 840px;
}

.no-top-margin {
  margin-top: 0;
}

.card-subheading {
  font-size: 17px;
  font-weight: bold;
}

.card-endnote {
  font-weight: bold;
}

/* ------- Contact Page --------- */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-text {
  width: 80%;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

form input {
  padding: 0.5vh;
  width: 36vh;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

form textarea {
  padding: 1.5vh;
  width: 32vw;
  padding-bottom: 12vh;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

#my-form-button {
  padding: 0.8vh 1.8vh;
  background-color: rgb(104, 3, 104);
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}

#my-form-button:focus {
  outline: none;
}

#my-form-button:hover {
  opacity: 0.9;
}

/* ------- Media Queries --------- */
@media (max-width: 1024px) {
  .carousel-item {
    height: 24rem;
    background-size: contain;
  }

  footer {
    height: 328px;
  }

  form input {
    width: 28vw;
  }

  form textarea {
    width: 38vw;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 3.5vw 5vh;
  }

  .carousel-item {
    height: 22rem;
  }

  .width-control {
    width: 60%;
  }

  .header {
    font-size: 30px;
  }

  .caption {
    font-size: 18px;
  }

  .overlay-image {
    opacity: 1;
  }

  footer {
    padding: 4vh 10vw;
    height: 220px;
  }

  .science-image > img {
    width: 600px;
    height: 400px;
  }

  .card-subheading {
    font-size: 16px;
  }
}

@media (max-width: 648px) {
  .container {
    padding: 7vw 8vh;
  }

  .header {
    font-size: 24px;
    letter-spacing: 0.03em;
  }

  .caption {
    font-size: 16px;
  }

  .width-control {
    width: 70%;
  }

  footer {
    padding: 5vh 10vw;
  }

  .science-image > img {
    width: 400px;
    height: 280px;
  }

  .overlay-image {
    background-size: 100% 100%;
  }
}

@media (max-width: 414px) {
  .container {
    padding: 10vw 8vh;
  }

  .carousel-item {
    height: 24rem;
  }

  .header {
    width: 60%;
    line-height: 1.6rem;
  }

  .caption {
    font-size: 14px;
  }

  .width-control {
    width: 88%;
  }

  footer {
    padding: 4vh 10vw;
    height: 270px;
  }

  .footer-content {
    flex-direction: column;
  }

  .science-image > img {
    width: 280px;
    height: 200px;
  }

  .contact-container {
    display: block;
  }

  form input {
    width: 28vh;
  }

  form textarea {
    width: 38vh;
  }

  #my-form {
    margin-top: 1em;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 12vw 6vh;
  }

  .header {
    font-size: 20px;
    line-height: 1.35rem;
  }

  .width-control {
    width: 90%;
  }

  .science-image > img {
    width: 240px;
    height: 180px;
  }
}

@media (max-width: 320px) {
  .science-image > img {
    width: 200px;
    height: 120px;
  }
}
